html {
background-color: #707070;
  color: #fff;
}

.logo {

}

h1, h2 {
  font-family: 'Sacramento', cursive;
}

p {
  font-family: "Acumin Pro", sans-serif;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

.social {
  display: inline-block;
}

.img-flex {
  display: block;
  width: 25%;
}
