html {
  background-color: #707070;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.pacifico {
  font-family: Pacifico, cursive;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

input,
select,
textarea {
  color: #000;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

a {
  #fff;
}

.homepage p {
  display: inline-block;
  max-width: 50%;
}

.social {
  display: inline-block;
}

.cat {
  width: 25%;
  display: inline-block;
}

.rescues {
  width: 25%;
}
